<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Keep Spring Boot console default -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Audit Rolling File Appender -->
    <appender name="AUDIT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/app/audit/audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/app/audit/audit-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <mdc />
                <message />
            </providers>
        </encoder>
    </appender>

    <!-- Async Appender -->
    <appender name="ASYNC_AUDIT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="AUDIT_FILE" />
        <queueSize>4096</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <!-- Independent Logger -->
    <logger name="AUDIT_LOG_NAME" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_AUDIT" />
    </logger>
</configuration>
